<!-- Card Humedad -->
<div id="disp-{{sensor.id_dispositivo_fk.id}}" class="col-md-2 m-2 p-0 disp">
    <div class="card border-left-primary h-100 pb-3">
        <div class="card-body  pb-0">
            <div class="row no-gutters align-items-center pb-1">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        {{ sensor.descripcion }}</div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="row no-gutters align-items-center">
                                <div id="sensor-{{sensor.id}}" class="h5 mb-0 font-weight-bold text-gray-800 sensor">
                                    ---</div>
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    %</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="progress progress-sm mr-2">
                                <div id="progress-{{sensor.id}}" class="progress-bar bg-primary" role="progressbar"
                                    style="width: 5%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-tint fa-2x text-gray-500"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Chart</a>
                        <a class="dropdown-item" href="#">Editar</a>
                        <a class="dropdown-item" href="#">Ajustes</a>
                    </div>
                </div>
            </div>
            <div class="text-xs text-gray-700">Rango permitido: 75 a 80%</div>
        </div>
    </div>
</div>