<!-- Card Temperatura -->
<div class="col-md-2 m-2 p-0">
    <div class="card border-left-danger h-100 pb-3">
        <div class="card-body pb-0">
            <div class="row no-gutters align-items-center pb-1">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Temperatura</div>
                    <div class="row no-gutters align-items-center">
                        <div id="sensor-{{sensor.id}}" class="h5 mb-0 font-weight-bold text-gray-800">
                            ---</div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                            &deg;C</div>
                    </div>
                </div>
                <div class="col-auto dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-temperature-low fa-2x text-gray-500"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#exampleModalCenter">Chart</a>
                        <a class="dropdown-item" href="/dispositivo/sensor/editar/{{sensor.id}}">Editar</a>
                        <a class="dropdown-item" href="#">Ajustes</a>
                    </div>
                </div>
            </div>
            <div class="text-xs text-gray-700">Rango permitido: 30 a 40&deg;C</div>
        </div>
    </div>
</div>