{% extends "base.html" %}
{% load static %}

{% block head_title %}Tablero{% endblock %}

{% block in_head %}
<script src="{% static '/mqtt/custom-mqtt-myiot.js' %}"></script>
<script src="{% static '/plotly/plotly-latest.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class='row justify-content-center'>
	<div class='col-md-12 col-md-offset-3'>
		<div class="card border-0 rounded-0" style="min-height: calc(100vh - 76px);">
			<div id="messages" class="alert alert-primary" role="alert"></div>

			<div class="row justify-content-center py-2 ">
				<span class="h3 mb-0 font-weight-light">Invernadero Smart</span>
			</div>

			{% if object.sensor.all %}
			<div class="row mx-1 p-1 ">
				<span class="h5 mb-0 font-weight-light">Sensores</span>
			</div>
			<div class="row m-0">
				{% for sensor in object.sensor.all %}
				{% if sensor.tipo|stringformat:"s" == "Temperatura" %}
				{% include "sensor/type/temperature.html" %}
				{% elif sensor.tipo|stringformat:"s" == "Humedad" %}
				{% include "sensor/type/humidity.html" %}
				{% elif sensor.tipo|stringformat:"s" == "Sensor de Puerta" %}
				{% include "sensor/type/door.html" %}
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}

			{% if object.actuador.all %}
			<div class="row mx-1 pt-3 pb-1 ">
				<span class="h5 mb-0 font-weight-light">Actuadores</span>
			</div>
			<div class="row m-0">
				{% for actuador in object.actuador.all %}
				{% if actuador.tipo|stringformat:"s" == "Extractor" %}
				{% include "actuador/type/extractor.html" %}
				{% elif actuador.tipo|stringformat:"s" == "Bomba de Agua" %}
				{% include "actuador/type/extractor.html" %}
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}

		</div> <!-- Card -->
	</div> <!-- Col -->
</div> <!-- Row -->

<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-0" id="modal-container">
				<!--  -->
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	window.onload = function () {
		$(function () {
			if (window.location.protocol === "https:")
				window.location.protocol = "http";
		});
	}

	$('.list_button').click(function (evt) {
		evt.preventDefault();
		const btn = $(this);
		const url = btn.attr('data-href');
		$.ajax({
			method: 'GET',
			url: url,
			dataType: 'json',

			success: function (data) {
				$('#modal-container').html(data.result)
			}
		})
	});

	$('.chart_button').click(function (evt) {
		evt.preventDefault();
		const btn = $(this);
		const url = btn.attr('data-href');
		$.ajax({
			method: 'GET',
			url: url,
			dataType: 'json',

			success: function (data) {
				$('#modal-container').html(data.result)
			}
		})
	});

	MQTTconnect();
</script>

{% endblock %}