<div class="card m-0 border-0">

    <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-align-center">Detalles del Controlador</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
    </div> -->

    <div class="modal-header py-3">
        <h6 class="modal-title font-weight-bold text-primary" id="myLargeModalLabel">Detalles del Controlador</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
    </div>

    <div class="card-body">

        <p><strong>ID: </strong>{{controlador.id}}</p>
        <p><strong>Nombre: </strong>{{controlador.nombre}}</p>

    </div>

</div>