{% extends "crud/card.html" %}

{% block card %}


<div class="span5 col-md-5" id="sandbox-container">
    <div class="input-daterange input-group input-group-sm" id="datepicker">
        <input type="text" class="input-sm form-control" name="start" />
        <div class="input-group-prepend">
            <span class="input-group-text">a</span>
        </div>
        <input type="text" class="input-sm form-control" name="end" />
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#sandbox-container .input-daterange').datepicker({
            format: "dd/mm/yyyy",
            language: "es",
            forceParse: false,
            autoclose: true,
            todayHighlight: true
        });

    });
</script>

{% endblock %}