{% extends "crud/list.html" %}

{% block table %}

<thead>
	<tr>
		<th style="width: 5%;">ID</th>
		<th>Nombre</th>
		<th style="width: 5%;">Acciones</th>
	</tr>
</thead>

<tbody>
	{% for object in object_list %}
	<tr>
		<td>{{ object.id }}</td>
		<td>{{ object.nombre }}</td>
		<td>
			<!-- Usaremos un formulario que realizara la tarea de eliminar un registro o postre desde la misma tabla HTML -->
			<form method="POST" action="eliminar/{{object.id}}">
				{% csrf_token %}
				<div class="btn-group">
					<!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
					<a href="detalle/{{object.id}}" title="Ver" class="btn btn-success">
						<i class="far fa-eye"></i></a>
					<a href="editar/{{object.id}}" title="Editar" class="btn btn-primary">
						<i class="far fa-edit"></i></a>
					<button class="btn btn-danger" onclick="return eliminar();" title="Eliminar">
						<i class="far fa-trash-alt"></i></button>
				</div>
			</form>
		</td>
	</tr>
	{% endfor %}
</tbody>

{% endblock %}